{%extends 'HouseAdvertising/main.html'%}

{%block content%}

<div class="intro">
<h1 style= 'color:black'> Welcome to Your Dream Home !!</h1>

    Find Your Perfect Home with Us! 
    Welcome to our premier real estate platform, where your search for the perfect home ends. Whether you're looking to buy or rent, we have an extensive collection of stunning properties waiting to be discovered. From cozy apartments to spacious family homes, we have something for every lifestyle and budget.
    
    At Pride homez, we understand that finding a home is more than just a transaction; it's about finding a place where you can truly belong. That's why we are dedicated to providing you with an exceptional and hassle-free real estate experience.
    

<h4>
    Explore Our Diverse Property Listings
    Exquisite Houses for Sale
    Discover a curated selection of exquisite houses for sale that epitomize luxury, style, and comfort. Our listings feature homes in sought-after neighborhoods, boasting modern amenities, beautiful architecture, and breathtaking views.
    
    Exclusive Rentals
    Explore our exclusive rental properties that offer the perfect blend of convenience and elegance. Whether you're seeking a chic urban apartment or a serene suburban retreat, we have rental options that cater to your unique preferences.
</h4><hr/>
<br/> 
     <button> <span> </span> Join as customer </button>
     <a href="{%url 'becomeAgent'%}"><button> <span> </span> Join as seller </button></a>
</div>
<div class="why_us">
    <h1> Why Choose Us? </h1><br/>
    <div class = "why">
        <h2> Unrivaled Selection: </h2> 
        <p>We take pride in offering an extensive range of properties, ensuring that you have plenty of options to choose from.</p>
    </div>
    <div class= "why">
        <h2>Expert Guidance:</h2> 
        <p> Our experienced real estate agents are committed to providing you with expert guidance and personalized support throughout your property search journey.</p>
    </div>
    <div class = "why">
        <h2> Convenient Search:</h2>
        <p> Our user-friendly interface and advanced search tools make it easy for you to find the perfect home that meets your specific criteria.</p>
    </div>
    <br/> <hr/>

    <h3> <b> Take the Next Step </b> </h3>
    Ready to find your dream home? Start exploring our listings today and take the next step towards making your dream a reality. Whether you're interested in buying or renting, our team is here to assist you every step of the way.
</div>
<div class = "contact">
     <h3> <a> Contact Us </a> </h3>
    Have questions or need assistance? Our dedicated team is readily available to answer your queries and arrange property viewings. Reach out to us at 0114975752
    <i>
    Your perfect home awaits. Start your search today and let us help you find the place where your dreams can thrive. </i></h1>
</div>
</div>
{%endblock%}